.theProcessFollow-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 80px;
}
.cards{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.card{
    display: flex;
    gap: 28px;
    justify-content: center;
}
.section-title{
    font-size: 48px;
    text-align: center;
}
.cards-img{
    width: 260px;
}
.title{
    font-size: 24px;
}
.text{
    width: 272px;
    font-size: 16px;
    line-height: 28px;
}