.features_card{
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 55px 40px;
    gap: 15px;
}
.features_card_icon{
    width: 32px;
    height: 28px;
}
.features_card_title{
    font-size: 24px;
}
.features_card_text{
    width: 324px;
    font-size: 16px;
    line-height: 28px;
    opacity: 70%;
}